.content__wrapper {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}
.background {
	padding: 25px;
}
.section {
	margin-bottom: 20px;
}
.section__header {
    background-color: #4A76A8;
    padding: 2px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    color: #fff;
    font-weight: 700;
}
.section__img, .section__theme__img, .section__addTheme__img {
	text-align: center;
	width: 80px;
	min-width: 70px;
}
.section__theme__img img {
	width: 68px;
}
.section__text {
	width: 83%;
	padding-left: 3px;
}
.section__messageCount {
	width: 8%;
	text-align: center;
	min-width: 70px;
}
.section__toggleSection {
	width: 5%;
	text-align: right;
	padding-right: 2px;
	min-width: 25px;
}
.section__toggleSection img {
 	cursor: pointer;
 }
.section__theme, .section__addTheme {
	border: 1px solid #4A76A8;
	border-top: none;
	align-items: center;
	padding: 3px;
}
.section__text__themeFirstMessage {
	color: #ccc;
}
.section__addTheme__img img {
	width: 38px;
}
.addSection {
	align-items: center;
	padding: 4px;
}
.section__text input {
	border: none;
	outline: none;
	padding: 3px 3px;
	margin-left: 5px;
	border-radius: 5px;
}

