.errorWrapper {
	width: 100%;
}
.errorMessage {
	width: 500px;
	text-align: center;
	margin: 10% auto;
}
.errorMessage__404 {
	font-size: 200pt;
	margin: 0;
	padding: 0;
}
.errorMessage__desctiption {
	font-size: 25pt;
	margin: 0;
}


