.content__wrapper {
    width: 100%;
}
.loginPage {
    width: 30%;
    margin: 0 auto;
    padding: 30px;
}
.loginPage__login, .loginPage__register {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin: 30px 0;
}
.loginPage__input {
    width: 80%;
    margin: 0 auto 15px auto;
    font-size: 14px;
    padding: 6px 12px 8px;
    height: 25px;
    border-radius: 3px;
    border: 1px solid #d3d9de;
    outline: none;
    box-shadow: none;
    background-color: rgb(232, 240, 254);
    color: rgb(0, 0, 0);
}
.loginPage__login form, .loginPage__register form {
    display: inline-block;
    text-align: center;
    margin-bottom: 15px;
    width: 100%;
}
.loginPage__register__description {
    text-align: center;
    padding: 1px;
}
.loginPage__login__submit{
    background-color: #5181b8;
}
.loginPage__register__submit {
    background-color: #68b35d;
}
@media screen and (max-width: 670px) {
    .loginPage {
        width: 100%;
        padding: 0;
    }
    .loginPage__input {
        width: 90%;
    }
}

