body {
    margin: 0;
    padding: 0;
    background: #edeef0;
    color: #000;
    font-size: 13px;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    line-height: 1.154;
    font-weight: 400;
    min-width: 450px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.flex {
    display: flex;
}
.bold {
    font-weight: 700;
}
.error {
    border: 1px solid red !important;
}
.hide {
    display: none;
}
.pointer {
    cursor: pointer;
}
.colorRed {
    color: red;
}
.button {
    font-size: 14px;
    line-height: 20px;
    border-radius: 3px;
    padding: 7px 16px 8px;
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    text-align: center;
    text-decoration: none;
    background: none;
    color: #fff;
    border: 0;
    box-sizing: border-box;
    min-width: 120px;
}
.green {
    color: green;
}
.red {
    color: red;
}
.background {
    background-color: #fff;
    border-radius: 7px;
    padding: 5px 25px 25px 25px;
}

.header a, .footer a {
    color: #fff;
}
.header__wrapper, .footer__wrapper {
    width: 100%;
    height: 42px;
    padding: 4px 0;
    background-color: #4A76A8;
    color: #fff;
    box-sizing: border-box;
}
.fixed {
    position: fixed;
    top: 0;
}
.headerPanel, .footerPanel {
    align-items: center;
    justify-content: space-around;
    height: 34px;
    padding: 0 25px;
}
.headerPanel__logo {
    height: inherit;
}
.headerPanel__logo i {
    line-height: 32px;
}
.headerPanel__user {
    height: inherit;
}
.headerPanel__user__name {
    padding-right: 10px;
    line-height: 10px;
}
.headerPanel__user__name a, .headerPanel__user__logout a {
    line-height: 34px;
    margin-left: 10px;
}
.headerPanel__searchForm__input {
    border: 0;
    box-sizing: border-box;
    padding: 6px 6px 6px 19px;
    margin: 7px 0;
    height: 28px;
    line-height: 16px;
    width: 230px;
    border-radius: 14px;
    -o-transition: background-color 0.05s, color 0.05s;
    transition: background-color 0.05s, color 0.05s;
    background: #224B79;
    padding-left: 10px;
    padding-right: 27px;
    border-left: 8px solid transparent;
    background-position: left 8px;
    color: #d9e2ec;
    outline: none;
}
.headerPanel__searchForm__startIcon {
    color: #ccc;
    line-height: 42px;
    position: absolute;
    margin-left: 207px;
    cursor: pointer;
}
.headerPanel__user__avatar {
    height: inherit;
}
.headerPanel__user__avatar img {
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}
.headerPanel__user {
    height: inherit;
} 
.headerPanel__user__requireEnter {
    line-height: 10px;
}


.content {
    margin-top: 42px;
}


.footerPanel__socialNetworkLinks > a {
    margin: 0 5px;
}
