.content {
    padding: 10px;
}
.profile {
    max-width: 550px;
    margin: 0 auto;
}
.profile__title {
    text-align: center;
}
.profile__section {
    margin: 30px 0;
}
.input {
    width: 80%;
    margin: 0 auto 15px auto;
    font-size: 14px;
    padding: 6px 12px 8px;
    height: 25px;
    border-radius: 3px;
    border: 1px solid #d3d9de;
    outline: none;
    box-shadow: none;
    background-color: rgb(232, 240, 254);
    color: rgb(0, 0, 0);
}
.profile__section__password {
    max-width: 250px;
    text-align: center;
    margin-left: 50px;
}
.profile__section__avatar {
    max-height: 250px;
    max-width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.profile__section__avatar img {
    width: 100%;
}
.profile__section__password p {
    font-size: 12pt;
}
.profile__section__password__confirm {
    background-color: #5181b8;
}
.profile__section__userInfo {
    width: 100%;
    text-align: center;
    border-radius: 5px;
}
.profile__section__userInfo td {
    padding: 10px 0;
}
.profile__section__userInfo tr:nth-child(2n+1) {
    background-color: rgb(232, 240, 254);
}
.profile__section__avatar__change {
    position: relative;
    background: rgba(101, 101, 101, 0.6);
    width: inherit;
    margin-top: -60px;
    padding: 5px;
    color: #fff;
    text-align: center;
}
.profile__section__avatar__change input {
    outline: none;
}
.profile__section__userSign__title {
    text-align: center;
    font-size: 12pt;
}
.profile__section__userSign__change textarea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    min-height: 70px;
}
.profile__section__userSign__change__button {
    background-color: #5181b8;
}
.profile__section__userSign__change {
    text-align: right;
}