.content {
    padding: 10px;
}
.search {
    max-width: 550px;
    margin: 0 auto;
}
.search__section {
    margin: 30px 0;
}
.search__section__results__text {
    margin-bottom: 15px;
    font-size: 13pt;
}
.search__pagination {
    text-align: center;
    font-size: 12pt;
}
.search__false h3, .search__false p {
    text-align: center;
}
.search__false img {
    width: 50%;
}

