.content__wrapper {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.theme__name {
    font-size: 20pt;
}
.theme__message {
    margin-bottom: 20px;
    box-shadow: 0px 0px 8px 0px rgba(122,121,122,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.theme__message__header, .theme__addMessage__header {
    height: 18px;
    padding: 2px;
    width: 100%;
    background-color: #4A76A8;
    color: #fff;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
}
.theme__message__header img, .theme__addMessage__header img {
    height: 100%;
    margin-left: 7px;
}
.theme__message__header__date, .theme__addMessage__header__title {
    margin-left: 4px;
    min-width: 185px;
}
.theme__message__content {

}
.theme__message__content__userProfile {
    background: #edeef0;
    width: 25%;
    min-width: 125px;
    max-width: 250px;
}
.theme__message__footer {
    background: #E9E9E9;
    padding: 2px;
    text-align: right;
    align-items: center;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}
.theme__message__footer a {
    color: #333;
}
.theme__message__footer img {
    height: 100%;
    height: 14px;
}
.theme__message__content__userProfile__nickname {
    text-align: center;
    font-size: 20pt;
    font-family: Monotype Corsiva;
    padding: 10px 5px;
}
.theme__message__content__userProfile__avatar {
    max-height: 250px;
    max-width: 250px;
}
.theme__message__content__userProfile__avatar img {
    width: 100%;
}
.theme__message__content__body {
    padding: 10px;
    width: 100%;
}
.theme__message__remove {
    text-align: right;
    width: 100%;
    height: inherit;
}
.theme__message__remove img {
    margin-right: 2px;
    cursor: pointer;
}
.theme__addMessage__body {
    padding: 7px;
    text-align: right;
}
#theme__addMessage__body__textarea {
    border-radius: 5px;
    background: #edeef0;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    min-height: 70px;
    outline: none;
    padding: 5px 10px;
    box-sizing: border-box;
}
.theme__addMessage__body__addMessage {
    background-color: #68b35d;
}