<div class="errorWrapper">
    <div class="errorMessage">
    	<p class="errorMessage__404">404</p>
        <p class="errorMessage__desctiption">ЗАПРАШИВАЕМАЯ <br> СТРАНИЦА НЕ НАЙДЕНА!</p>
    </div>
</div>

